<footer>
  <ul>
  <li>This website is © Copyright Christ Church Mayfair 2018. All Rights Reserved</li>
  <li>You can email us: <a href="mailto:info@christchurchmayfair.org">info@christchurchmayfair.org</a></li>
  <li><address>The church is at: Down Street, London, W1J 7AN</address></li>
  <li><address>The church office is at: Lower Ground Floor, Interpark House, 7 Down Street, London, W1J 7AJ and you can telephone us on: 020 7629 5885</address></li>
  <li>Read our <a href="privacy-policy.html">Privacy & Cookie Policy</a></li>
  <li>Christ Church Mayfair is a <a href="https://www.churchofengland.org">Church of England</a> church and a member of the <a href="https://co-mission.org">Co-Mission</a> church planting network</li>
  <li>"The Bible Talks" is a registered charity, charity number <a href="http://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/CharityWithPartB.aspx?RegisteredCharityNumber=1092036&SubsidiaryNumber=0">1092036</a></li>
  <li>You can find our site's code in <a href="https://github.com/tomduckering/ccmsite">github</a></li>
  </ul>
</footer>
