<nav id="menu">
  <svg class="logo" viewbox="0 0 720 162">
    <use xlink:href="assets/images/ccm-logo-full.svg#full-logo" />
  </svg>
  <svg id="close-menu-button" viewBox="0 0 100 100">
    <use xlink:href="assets/images/close-menu-button.svg#close-button" />
  </svg>
  <div id="menu-content">
    <a href="meetings.html">Meetings</a>
    <a href="students.html">Students</a>
    <a href="children.html">Children</a>
    <a href="talks.html">Talks</a>
    <a href="music.html">Music</a>
    <a href="aboutus.html">About Us</a>
    <a href="findus.html">Find Us</a>
  </div>
</nav>

<header id="header">
  <svg class="logo" viewbox="0 0 720 162">
    <use xlink:href="assets/images/ccm-logo-full.svg#full-logo" />
  </svg>
  <svg id="open-menu-button" viewBox="0 0 100 100">
    <use xlink:href="assets/images/hamburger.svg#hamburger" />
  </svg>
</header>
