<nav id="menu">
  <img class="logo" src="assets/images/ccm-logo-full-black.svg" alt="Christ Church Mayfair Logo"/>
  <img id="close-menu-button" src="assets/images/close-menu-button-black-100x100.svg" alt="Menu Open Button"/>
  <div id="menu-content">
    <a href="index.html"><h2>Home</h2></a>
    <h2>Ministries</h2>
    <a href="services.html">Sunday Services</a>
    <a href="students.html">Students</a>
    <a href="children.html">Children</a>
    <a href="littlelambs.html">Little Lambs</a>
    <a href="midweekinmayfair.html">Midweek in Mayfair</a>
    <h2>Resources</h2>
    <a href="talks.html">Our Talks</a>
    <a href="music.html">Music</a>
    <h2>About Us</h2>
    <a href="ourbeliefs.html">Our beliefs</a>
    <a href="whoweare.html">Our Staff</a>
    <a href="contact.html">Contact Details</a>
    <a href="findus.html">How to find us</a>
    <h2>Extras</h2>
    <a href="giving.html">Giving</a>
    <a href="privacypolicy.html">Privacy Policy</a>
  </div>
</nav>

<header id="header">
  <img class="logo" src="assets/images/ccm-logo-full.svg" alt="Christ Church Mayfair Logo"/>
  <img id="open-menu-button" src="assets/images/hamburger-clean-white.svg" alt="Menu Close Button"/>
</header>
