body {
  min-width: 320px;
}

#wrapper {
  grid-template-columns: 50% 50%;
  grid-template-areas:
      "header header"
      "content content"
      "footer footer";
}

.navbar {
  padding: 20px;
  grid-area: header;
  background-color: var(--dark);
}

#navbar-logo {
  height: 50px;
}

#home-1 {
  grid-area: content;
  height: 90vh;
  background-image: url(../images/top-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#content {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

#main-banner-image {
  width: 100%
}

#home-2 {
  grid-column: 1 / span 2;
  height: 100vh;
}

#services-header {
  height: 10vh;
}

#services {
  background-color: white;
  padding: 20px;
  grid-column: 1 / span 2;
}

.service {
  height: 30vh;
  padding: 20px;
  grid-column: 1 / span 2;
}

.service-day {
  background-color: var(--light);
}

.service-night {
  background-color: var(--dark);
  color: var(--light);
}

.event-section {
  grid-column: 1 / span 2;
  height: 100vh;
  padding: 20px;
}

footer {
  grid-column: 1 / span 2;
  height: 10vh;
  background-color: var(--dark);
  padding: 20px;
  font-size: 0.7em;
  color: var(--light);
}

#hamburger-mobile {
  height: 50px;
  width: 45px;
  background-image: url(../images/hamburger.svg);
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
}

h1 {
  font-size: 10vw;
  margin: 0px;
}

#home-2 {
  padding: 5vw;
}

#home-2 article {
  font-size: 16pt;
  line-height: 20pt;
}

.cta-btn {

}
