:root {
  --general-padding: 15px;
  --header-vertical-padding: var(--general-padding);
  --horizontal-padding: var(--general-padding);
  --ios-bottom-furniture-padding: 140px; /*This is tuned for iPhone X only!*/
  --menu-button-size: 40px;
  --header-height: var(--menu-button-size);
  --nav-height: auto;
  --footer-height: 45vh;
  --button-height: 30px;

  --standard-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);

  --dark-colour: rgb(50,50,50);
  --light-colour: white;
  --header-background-colour: rgba(0,0,0,0);
  --navigation-background-colour: rgba(255,255,255,1);
  --button-colour: white;
  --button-push-colour: rgb(200,200,200);
  --theme-colour: rgba(74,127,197,1);
  --highlight-colour: rgb(244, 203, 66);

  --menu-transition-time: 0.2s;

  --heading-font: 'Klinic Slab';
  --body-font: 'Nunito';
}

@font-face {
  font-family: 'Klinic Slab';
  src: url(../fonts/KlinicSlabMedium.otf);
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAnsSUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAjsOUYevN.ttf) format('truetype');
}

body {
  margin:0;
  width: 100vw;
  min-width: 320px;
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-colour);
  display: grid;
  background-color: var(--theme-colour);
  grid-template-rows: auto var(--footer-height);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.3em;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
  width: calc(100vw - calc(var(--horizontal-padding) * 2));
  height: var(--nav-height);

  background-color: var(--navigation-background-colour);

  display: grid;
  visibility: hidden;
  opacity: 0;

  padding-top: var(--header-vertical-padding);
  padding-bottom: var(--header-vertical-padding);

  grid-template-columns: auto var(--menu-button-size);
  grid-template-rows: var(--header-height) auto;
  grid-template-areas:
    "logo menu-button"
    "menu-content menu-content";
  column-gap: 15px;
  grid-row-gap: 15px;
  align-items: center;
  overflow: hidden;

  box-shadow: var(--standard-shadow);

  transition: opacity var(--menu-transition-time);
  -webkit-transition: opacity var(--menu-transition-time);
}

nav .logo {
  position: relative;
  height: 40px;
  grid-area: logo;
}

nav #close-menu-button {
  width: calc(var(--menu-button-size) - 10px);
  grid-area: menu-button;
  justify-content: right;
  margin: auto;
}

#menu-content {
  font-size: 1.2em;
  color: var(--dark-colour);
  grid-area: menu-content;
  width: calc(100vw - calc(var(--general-padding) * 2));

  display: grid;

  grid-template-columns: 1fr 1fr;
  column-gap: var(--general-padding);
}

@media only screen and (min-width: 640px) {
  #menu-content {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

#menu-content h2 {
  display: block;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
  margin-top: var(--general-padding);
}

#menu-content a {
  font-size: 1.3em;
  color: var(--dark-colour);
  font-style: normal;
  display: block;
}

#menu-content a:visited {
  font-size: 1.3em;
  color: var(--dark-colour);
  font-style: normal;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - calc(var(--horizontal-padding) * 2));
  height: var(--header-height);
  background-color: var(--header-background-colour);

  padding-top: var(--header-vertical-padding);
  padding-bottom: var(--header-vertical-padding);
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);

  display: grid;
  grid-template-columns: auto var(--menu-button-size);
  column-gap: var(--general-padding);
  align-items: center;
}

header .logo {
  position: relative;
  height: 40px;
  grid-column: 1;

}

header #open-menu-button {
  width: calc(var(--menu-button-size) - 10px);
  grid-column: 2;
  justify-content: right;
  margin: auto;
}

main {
  grid-row: 1;
}

section {
  padding: var(--general-padding);
  height: 100vh;


  /* These settings are only for making the sections visible! */
  background-color: purple;
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-color: green;
  border-style: solid;
  /* end */

}

/* Special first one with padding to pull content below the header */
/* and padding to pull action buttons up so they are not hidden by iOS furniture!*/
section:first-of-type {
  /* background image comes from the content system */
  background-color: var(--theme-colour); /*backup color!*/
  background-size:cover;
  background-repeat: no-repeat;
  padding-top: calc(var(--header-height) + calc(var(--header-vertical-padding) * 2) + var(--general-padding));
  height: calc(100vh - var(--header-height) - calc(var(--header-vertical-padding) * 2) - var(--general-padding) - var(--ios-bottom-furniture-padding));
  padding-bottom: var(--general-padding);
  display: grid;
  grid-template-columns: calc(50vw - 15px) calc(50vw - 15px);
  grid-template-rows: auto calc(var(--button-height) + 10px);
}

@media only screen and (min-width: 640px) {
  section:first-of-type {
    padding-bottom: var(--general-padding);
    height: calc(100vh - var(--header-height) - calc(var(--header-vertical-padding) * 2) - var(--general-padding) - var(--general-padding));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto calc(var(--button-height) + 10px);
  }
}

section p {
  margin-top: 0px;
  font-size: 1em;
  grid-column: 1/-1;
}

section.music_release, section.music_resource {
  height: 40vh;
}

section.service {
  height: 50vh;
}

section.service-day {
  background-color: var(--light-colour);
  color: var(--dark-colour);
}

section.service-night {
  background-color: var(--dark-colour);
  color: var(--light-colour);
}

footer {
  grid-row: 2;
  background-color: var(--dark-colour);
  padding: var(--general-padding);
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  display: inline;
  font-size: 0.8em;
}

footer ul li + li:before {
    content: " | ";
}

footer a {
  color: var(--highlight-colour);
}

.button {
  display: block;
  color: var(--dark-colour);
  background-color: var(--button-colour);
  width: 40vw;
  height: var(--button-height);
  padding: 4px;
  border-radius: 4px;
  align-content: center;
  justify-content: center;
  font-family: var(--heading-font);
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: var(--button-height);
  transition: transform 0.05s, background-color 0.05s;
  -webkit-transition: transform 0.05s, background-color 0.05s;
  box-shadow: var(--standard-shadow);
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
  background-color: var(--button-push-colour);
}

/* Mobile index top section button styling */

.index-top-section-btn {
  width: auto;
}

.index-top-section-btn:nth-of-type(1) {
  grid-column: 1;
  margin: 0px 7.5px 0px 0px;
}

.index-top-section-btn:nth-of-type(2) {
  grid-column: 2;
  margin: 0px 0px 0px 7.5px;
}
