:root {
  --general-padding: 15px;
  --header-vertical-padding: var(--general-padding);
  --horizontal-padding: var(--general-padding);
  --menu-button-size: 40px;
  --header-height: var(--menu-button-size);
  --nav-height: 100vh;
  --footer-height: 35vh;
  --button-height: 30px;

  --dark-colour: black;
  --light-colour: white;
  --header-background-colour: rgba(0,0,0,0.2);
  --navigation-background-colour: rgba(255,255,255,1);
  --button-colour: white;
  --theme-colour: rgba(74,127,197,1);
  --highlight-colour: rgb(244, 203, 66);
}

@font-face {
  font-family: 'Klinic Slab';
  src: url(../fonts/KlinicSlabMedium.otf);
}

body {
  margin:0;
  width: 100vw;
  min-width: 320px;
  font-family: 'Klinic Slab';
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-colour);
}




h1 {
  font-size: 2em;
  margin-top: 0;
}

#main {
  /* width: 100vw; */
  display: grid;
  background-color: white;
  grid-template-rows: auto var(--footer-height);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - calc(var(--horizontal-padding) * 2));
  height: var(--nav-height);
  background-color: var(--navigation-background-colour);
  display: none;
  opacity: 1;


  padding-top: var(--header-vertical-padding);
  padding-bottom: var(--header-vertical-padding);
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);

  grid-template-columns: auto var(--menu-button-size);
  grid-template-rows: var(--header-height) auto;
  grid-template-areas:
  "logo menu-button"
  "menu-content menu-content";
  column-gap: 15px;
  align-items: center;

  transition: opacity 5s;
}

nav #logo {
  position: relative;
  height: 40px;
  grid-area: logo;
}

nav #close-menu-button {
  width: calc(var(--menu-button-size) - 10px);
  grid-area: menu-button;
  justify-content: right;
  margin: auto;
}

#menu-content {
  font-size: 1.2em;
  color: var(--dark-colour);
  grid-area: menu-content;
  width: calc(100vw - calc(var(--general-padding) * 2));

  display: grid;

  grid-template-columns: 1fr 1fr;
  column-gap: var(--general-padding);
}

#menu-content h2 {
  display: block;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  margin-top: var(--general-padding);
}

#menu-content a {
  font-size: 1em;
  color: var(--dark-colour);
  font-style: normal;
  display: block;
}

#menu-content a:visited {
  font-size: 1em;
  color: var(--dark-colour);
  font-style: normal;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - calc(var(--horizontal-padding) * 2));
  height: var(--header-height);
  background-color: rgba(0,0,0,0.2);

  padding-top: var(--header-vertical-padding);
  padding-bottom: var(--header-vertical-padding);
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);

  display: grid;
  grid-template-columns: auto var(--menu-button-size);
  column-gap: 15px;
  align-items: center;
}

header #logo {
  position: relative;
  height: 40px;
  grid-column: 1;

}

header #open-menu-button {
  width: calc(var(--menu-button-size) - 10px);
  grid-column: 2;
  justify-content: right;
  margin: auto;
}

#content {
  grid-row: 1;
}

section {
  padding: var(--general-padding);
  height: 100vh;


  /* These settings are only for making the sections visible! */
  background-color: purple;
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-color: green;
  border-style: solid;
  /* end */

}

/* Special first one with padding to pull content below the header */
section:first-of-type {
  /* background image comes from the content system */
  background-color: var(--theme-colour); /*backup color!*/
  background-size:cover;
  background-repeat: no-repeat;
  padding-top: calc(var(--header-height) + calc(var(--header-vertical-padding) * 2) + var(--general-padding));
  height: calc(100vh - var(--header-height) - calc(var(--header-vertical-padding) * 2) - var(--general-padding) - var(--general-padding));
  display: grid;
  grid-template-columns: calc(50vw - 15px) calc(50vw - 15px);
  grid-template-rows: auto calc(var(--button-height) + 10px);
}

footer {
  grid-row: 2;
  background-color: var(--dark-colour);
  padding: var(--general-padding);
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  display: inline;
  font-size: 0.8em;
}

footer ul li + li:before {
    content: " | ";
}

footer a {
  color: var(--highlight-colour);
}

.button {
  display: block;
  color:black;
  background-color: var(--button-colour);
  width: 40vw;
  height: var(--button-height);
  padding: 4px;
  border-radius: 4px;
  align-content: center;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  line-height: var(--button-height);
}

/* Mobile index top section button styling */

.index-top-section-btn {
  width: auto;
}

.index-top-section-btn:nth-of-type(1) {
  grid-column: 1;
  margin: 0px 7.5px 0px 0px;
}

.index-top-section-btn:nth-of-type(2) {
  grid-column: 2;
  margin: 0px 0px 0px 7.5px;
}
