:root {
  --dark: #333333;
  --light: white;
}

@font-face {
  font-family: 'Klinic Slab';
  src: url(../fonts/KlinicSlabMedium.otf);
}

html {
  box-sizing: border-box;
  font-family: 'Klinic Slab';
  font-size: 20px;
  line-height: 1.5;
  background-color: var(--light);
  color: var(--dark);
  margin: 0px auto 0px auto;
  min-width: 320px;
}

body {
  margin: 0;
}

/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

#wrapper {
  display: grid;
}



.mobile-btn-left {
  background-color: var(--light);
  width: 42.5vw;
  text-align: center;
  font-size: 1.6em;
  font-weight: 400;
  border-radius: 4px;
  margin-right:  2.5vw;
}

.mobile-btn-right {
  background-color: var(--light);
  width: 42.5vw;
  text-align: center;
  font-size: 1.6em;
  font-weight: 400;
  border-radius: 4px;
  margin-left:  2.5vw;
}

.mobile-btn-container {
  position: absolute;
  bottom: 0;
  margin: 5vw;
  color: var(--dark);
}
