:root {
  --general-padding: 15px;
  --header-vertical-padding: var(--general-padding);
  --horizontal-padding: var(--general-padding);
  --ios-bottom-furniture-padding: 140px; /*This is tuned for iPhone X only!*/

  --next-section-peek: 175px;

  --body-margin: 15vw;

  --menu-button-size: 40px;
  --header-height: var(--menu-button-size);
  --nav-height: auto;
  --footer-height: auto;
  --button-height: 30px;

  --base-font-size: 20px;

  --standard-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);

  --dark-colour: rgb(16, 14, 40);
  --light-colour: rgb(246,246,255);
  --header-background-colour: rgba(16,14,40,0.2);
  --navigation-background-colour: rgba(246,246,255, 0.95);
  --button-width: 200px;
  --button-colour: var(--highlight-colour);
  --button-text-colour: var(--light-colour);
  --alternate-tabular-highlight: rgba(16, 14, 40,0.03);
  --button-push-colour: rgb(200,200,200);
  --theme-colour: rgba(74,127,197,1);
  --highlight-colour: rgb(244, 66, 92);

  --menu-transition-time: 0.2s;

  --beta-banner-colour: rgba(244,66,92,0.5);

  --heading-font: 'Klinic Slab';
  --body-font: 'Nunito';
}

@font-face {
  font-family: 'Klinic Slab';
  src: url(../fonts/KlinicSlabMedium.otf);
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAnsSUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAjsOUYevN.ttf) format('truetype');
}

body:after{
  content: "Work in Progress";
  position: fixed;
  z-index: 3;
  width: 180px;
  height: 25px;
  background: var(--beta-banner-colour);
  top: 40px;
  left: -35px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--light-colour);
  line-height: 27px;
  
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

#viewsizedebug {
  position: fixed;
  right:0px;
  bottom:0;
  background-color: red;
  color: white;
}

body {
  margin:0;
  width: 100vw;
  min-width: 320px;
  font-family: var(--body-font);
  font-size: var(--base-font-size);
  line-height: 1.5;
  color: var(--dark-colour);
  display: grid;
  background-color: var(--light-colour);
  grid-template-rows: auto var(--footer-height);
}

@media only screen and (min-width: 640px) {
  body {
    text-align: center;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 2.5em;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

a {
  color: var(--highlight-colour);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  position: fixed;
  top: 0px;
  left: 0;
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
  width: calc(100vw - calc(var(--horizontal-padding) * 2));
  height: var(--nav-height);

  background-color: var(--navigation-background-colour);

  display: grid;
  visibility: hidden;

  padding-top: var(--header-vertical-padding);
  padding-bottom: var(--header-vertical-padding);

  grid-template-columns: auto var(--menu-button-size);
  grid-template-rows: var(--header-height) auto;
  grid-template-areas:
    "logo menu-button"
    "menu-content menu-content";
  column-gap: 15px;
  grid-row-gap: 15px;
  align-items: center;
  overflow: hidden;

  z-index: 2;

  box-shadow: var(--standard-shadow);

  transition: opacity var(--menu-transition-time);
  -webkit-transition: opacity var(--menu-transition-time);
}

nav svg {
  fill: var(--dark-colour);
}

.logo {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 180px;
  transition: transform 0.1s;
}

.logo:hover {
  transform: scale(1.05);
}

.logo:active {
  transform: scale(0.9);
}

nav .logo {
  grid-area: logo;
}

header svg{
  fill: var(--light-colour);
}

nav #close-menu-icon {
  width: calc(var(--menu-button-size) - 10px);
  grid-area: menu-button;
  justify-content: right;
  margin: auto;
  fill: var(--dark-colour);
  transition: transform, 0.1s;
}

nav #close-menu-icon:hover {
  transform: scale(1.1);
}

nav #close-menu-icon:active {
  transform: scale(0.9);
}

#menu-content {
  font-size: 1.2em;
  color: var(--dark-colour);
  grid-area: menu-content;
  width: calc(100vw - calc(var(--general-padding) * 2));
  justify-items: center;

  margin-top: var(--general-padding);

  display: grid;

  grid-template-columns: 1fr;
  column-gap: var(--general-padding);
  row-gap: var(--general-padding);
}

@media only screen and (min-width: 900px) {
  #menu-content {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 640px) and (max-width: 900px) {
  #menu-content {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

#menu-content h2 {
  display: block;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
  margin-top: var(--general-padding);
}

#menu-content a {
  font-size: 1.3em;
  color: var(--dark-colour);
  font-style: normal;
  display: block;
}

#menu-content a:visited {
  font-size: 1.3em;
  color: var(--dark-colour);
  font-style: normal;
}

header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - calc(var(--horizontal-padding) * 2));
  height: var(--header-height);
  background-color: var(--header-background-colour);

  padding-top: var(--header-vertical-padding);
  padding-bottom: var(--header-vertical-padding);
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);

  display: grid;
  grid-template-columns: auto var(--menu-button-size);
  column-gap: var(--general-padding);
  align-items: center;
}

header .logo {
  grid-column: 1;
}

header #open-menu {
  width: calc(var(--menu-button-size) - 10px);
  grid-column: 2;
  justify-content: right;
  margin: auto;
  transition: transform, 0.1s;
}

header #open-menu:hover {
  transform: scale(1.1);
}

header #open-menu:active {
  transform: scale(0.9);
}

main {
  grid-row: 1;
}

section {
  padding: var(--general-padding);
  /* These settings are only for making the sections visible! */
  background-color: var(--light-colour);
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-color: rgba(0,0,0,0.1);
  border-style: solid;
  /* end */
}

@media only screen and (min-width: 640px) {
  section {
    padding-left: var(--body-margin);
    padding-right: var(--body-margin);
  }
}

#full-page {
  height: 100vh;
}

/* Special first one with padding to pull content below the header */
/* and padding to pull action buttons up so they are not hidden by iOS furniture!*/
section:first-of-type {
  padding-top: calc(var(--header-height) + calc(var(--header-vertical-padding) * 2) + var(--general-padding));
}

section.full-bleed {
  background-size:cover;
  background-repeat: no-repeat;
  height: calc(100vh - var(--header-height) - calc(var(--header-vertical-padding) * 2) - var(--general-padding) - var(--general-padding));
  padding-bottom: var(--general-padding);
  display: grid;
  grid-template-columns: auto 600px auto;
  grid-template-rows: 100px 200px auto;
  grid-template-areas: ". . ."
  ". overlay ."
  ". . .";
  border-bottom: 0px;
  box-shadow: var(--standard-shadow);
}

@media only screen and (min-width: 640px) {
  section.full-bleed {
    padding-bottom: var(--general-padding);
    height: calc(100vh - var(--header-height) - calc(var(--header-vertical-padding) * 2) - var(--general-padding) - var(--general-padding) - var(--next-section-peek));
  }
}

@media only screen and (max-width: 640px) {
  section.full-bleed {
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
    grid-template-areas: "."
    "overlay";
  }
}

section.full-bleed .overlay {
  grid-area: overlay;

  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "caption caption"
  "button-left button-right";
  grid-column-gap: var(--general-padding);
  justify-items: center;
}



.promotion {
  height: var(--next-section-peek);
  background-color: var(--highlight-colour);
  padding: var(--general-padding);
}

.promotion h1 {
  font-size: 1.5em;
}

@media only screen and (min-width: 640px) {
  .promotion {
    text-align: center;
  }
}

.caption-overlay {
grid-area: caption;
}

@media only screen and (max-width: 640px) {
  .caption-overlay {
    display: none;
  }
}

.caption-overlay h1 {
  font-size: 3.5em;
  color: white;
  text-align: center;
}

section p {
  margin-top: 0px;
  font-size: 1em;
  grid-column: 1/-1;
}

section.music_release {
  height: 40vh;
}

.music_resource {
  display: grid;
  grid-template-columns: 1fr 1.618fr;
  grid-template-areas: "title resources";
  border-width: 1px;
  border-color: red;
  border-style: solid;
}

.music_resource h2 {
  grid-area: title;
}

.music_resource .downloads {
  display: grid;
  grid-template-columns: auto;
  border-width: 1px;
  border-color: blue;
  border-style: solid;
}

.music_resource .downloads .download {
  display: block;
}

section.service {
  height: auto;
}

section.day-service {
  background-color: var(--light-colour);
  color: var(--dark-colour);
}

section.evening-service {
  background-color: var(--dark-colour);
  color: var(--light-colour);
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--light-colour);
  background-color: var(--dark-colour);
  padding: var(--general-padding);
  font-size: 0.7em;
}

footer div.item {
  display: inline;
  margin-bottom: var(--general-padding);
}

address {
  font-style: unset;
}

.button {
  display: block;
  color: var(--button-text-colour);
  background-color: var(--button-colour);
  min-width: 100px;
  padding-left: var(--general-padding);
  padding-right: var(--general-padding);
  height: var(--button-height);
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 3px;
  align-content: center;
  justify-content: center;
  font-family: var(--heading-font);
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  line-height: var(--button-height);
  transition: transform 0.05s, background-color 0.05s;
  -webkit-transition: transform 0.05s, background-color 0.05s;
  box-shadow: var(--standard-shadow);
}

@media only screen and (min-width: 640px) {
  .button {
    min-width: 200px;
  }
}

.button:hover {
  transform: scale(1.05);
  text-decoration: none;
}

.button:active {
  transform: scale(0.95);
  background-color: var(--button-push-colour);
}

.index-top-section-btn:nth-of-type(1) {
  grid-area: button-left;
}

.index-top-section-btn:nth-of-type(2) {
  grid-area: button-right;
}

section.person {
  display: grid;
  grid-column-gap: var(--general-padding);
  grid-template-columns: 1fr 1.618fr;
  grid-template-rows: auto auto;
  grid-template-areas: "photo title"
  "photo bio";
  justify-items: center;
  align-items: center;
}

section.person:nth-of-type(even) {
  grid-template-areas: "title photo"
  "bio photo";
  grid-template-columns: 1.618fr 1fr;
}

section.person .title {
  grid-area: title;
}

section.person img {
  grid-area: photo;
  border-radius: 50%;
  width: 300px;
  width: 300px;
}

section.person .bio {
  grid-area: bio;
}

section.people {
  display: grid;
  grid-column-gap: var(--general-padding);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title"
  ". . . .";
}

section.people h1 {
  grid-area: title;
}

section.people img {
  grid-area: photo;
  border-radius: 50%;
  width: 200px;
  width: 200px;
}

#sermon-series-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}

#loading {
  display: none;
}

#loading svg {
  width: 100px;
  height: 100px;
}

#loading svg path,
#loading svg rect{
  fill: var(--highlight-colour);
}

#loading-error {
  display: none;
}

.page-picker {
  padding-top: calc(var(--general-padding) * 3);
}

.pagelink {
  display: inline-block;
  width:30px;
  padding: 2px;
}

.current-pagelink {
  /* font-weight: bold; */
  border: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--highlight-colour);
}

.sermon-series {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: var(--general-padding);
  grid-template-rows: auto auto;
  grid-template-areas: "title title"
  "details details"
  "image sermons";
}

.sermon-series:nth-of-type(even) {
  grid-template-columns: 5fr 1fr;
  grid-template-areas: "title title"
  "details details"
  "sermons image";
}

.series-heading {
  grid-area: title;
}

.series-info {
  display: none;
  grid-area: details;
}

.series-info div {
  display: none;
}

.series-graphic {
  grid-area: image;
  width: 180px;
  height: 180px;
  border-color: var(--dark-colour);
  border-style: solid;
  border-width: 1px;
  background-size: contain;
  justify-self: center;
}

.sermon-list {
  grid-area: sermons;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 0.8em;
}

.sermon {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 30px;
  grid-template-rows: 40px;
  grid-template-areas: "title speaker passage date download";
  grid-column-gap: var(--general-padding);
  line-height: 1em;
  padding: var(--general-padding);
  height: 30px;
  justify-content: center;

  align-items: center;
}

.sermon:nth-of-type(even) {
  background: var(--alternate-tabular-highlight);
}

.sermon div {
  text-align: left;
}

.sermon-title {
  grid-area: title;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.sermon-speaker {
  grid-area: speaker;
  display: inline-block;
}

.sermon-passage {
  grid-area: passage;
  display: inline-block;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.sermon-date {
  grid-area: date;
  display: inline-block;
}

.sermon-download {
  grid-area: download;
  display: inline-block;
}

.sermon-download svg{
  width: 20px;
  height: 20px;
}

.sermon-player {
  grid-area: player;
  display: none;
}

@media only screen and (max-width: 1290px) {
  .sermon {
    grid-template-columns: 2fr 1fr 1fr 30px;
    grid-template-areas: "title speaker passage download";
  }

  .sermon-date {
    display: none;
  }
}

@media only screen  and (max-width: 1140px) {
  .sermon {
    grid-template-columns: 2fr 1fr 30px;
    grid-template-areas: "title passage download";
  }

  .sermon-speaker {
    display: none;
  }
}

@media only screen and (max-width: 890px) {

  .sermon-series,
  .sermon-series:nth-of-type(even) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: var(--general-padding);
    grid-template-rows: auto auto auto;
    grid-template-areas: "title"
    "details "
    "sermons";
  }

  .series-graphic {
    display: none;
  }
}

@media only screen and (max-width: 640px) {

  .sermon {
    grid-template-columns: 1fr 30px;
    grid-template-areas: "title download";
  }

  .sermon-series h1 {
    font-size: 1.4em;
  }

  .sermon-passage {
    display: none;
  }  
}

.music-release-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "title"
  ". .";
  grid-row-gap: 100px;
}

.music-release {
  display: grid;
  grid-template-columns: 1fr 1.618fr;
  grid-column-gap: calc(var(--general-padding) * 3);
  grid-row-gap: var(--general-padding);
  grid-template-areas: ". title"
  "cover details"
  ". links";
}

.music-release:nth-of-type(even) {
  grid-template-columns: 1.618fr 1fr;
  grid-template-areas: "title ."
  "details cover"
  "links .";
}

.music-service-link  {
  display:inline-block;
  overflow:hidden;
  width:158px;
  height:45px;
}



.music-release-cover {
  grid-area: cover;
  width: 250px;
  height: 250px;
  border-color: var(--dark-colour);
  border-style: solid;
  border-width: 1px;
  justify-self: center;
  align-content: center;
  justify-content: center;
}

.music-release-title {
  grid-area: title;
}

.music-service-links {
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "apple-music spotify";
  grid-column-gap: var(--general-padding);
}

.spotify-link {
  grid-area: spotify;
  background: url(/assets/images/Listen_on_spotify.svg) no-repeat;
  justify-self: start;
}

.apple-music-link {
  grid-area: apple-music;
  background: url(https://tools.applemusic.com/assets/shared/badges/en-us/music-lrg.svg) no-repeat;
  justify-self: end;
}

.music-release-description {
  grid-area: details;
}

.music-release-details p {
  font-size: 0.8em;
  margin-left: 0px;
  margin-right: 0px;
}

@media only screen and (max-width: 860px) {
  .music-release,
  .music-release:nth-of-type(even) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "title"
    "cover"
    "links";
  }

  .music-release-description {
    display: none;
  }

  .music-service-link {
    width:40px;
    height:40px;
  }

  .apple-music-link {
    background: url(https://tools.applemusic.com/embed/v1/app-icon.svg) no-repeat;
  }

  .spotify-link {
    background: url(../images/spotify_small.svg) no-repeat;
  }
}

.music_videos {
  display: grid;
  margin-top: var(--general-padding);
}

.music_video {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-areas: "index title link";
  padding: var(--general-padding);
}

.music_video:nth-of-type(even) {
  background-color: var(--alternate-tabular-highlight);
}

.music_video .music_video_index {
  grid-area: index;
}

.music_video .video-title {
  grid-area: title;
}

.music_video .video-play-link {
  grid-area: link;
}

section.map {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

@media only screen and (max-width: 640px) {
  section.map {
    display:none;
  }
}

section.map iframe {
  width: 100%;
  height: 50vh;
  border: 0;
}

section.findus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title"
  "address tube"
  "directions directions";
}

@media only screen and (max-width: 640px) {
  section.findus {
    grid-template-columns: 1fr;
    grid-template-areas: "title"
    "address"
    "tube"
    "directions";
  }
}

#directions-button {
  grid-area: directions;
  width: 400px;
  justify-content: center;
  align-content: center;
}

section.findus h1 {
  grid-area: title;
}

#address {
  grid-area: address;
}

#tube {
  grid-area: tube;
}

p.location-detail {
  font-size: 1.3em;
}

svg#roundel {
  display:inline-block;
  width: 20px;
  height: 20px;
  vertical-align: -5%;
  margin-right: 0.2em;
  fill: var(--highlight-colour);
  stroke: var(--highlight-colour);
}

svg#map-pin {
  display:inline-block;
  width: 30px;
  height: 30px;
  vertical-align: -15%;
  margin-right: 0.2em;
  fill: var(--highlight-colour);
}

@media only screen and (max-width: 640px) {
  svg#map-pin,
  svg#roundel {
    display: none;
  }
  p.location-detail {
    font-size: 1em;
    display: inline;
  }
}

#home p {
  font-size: 1.4em;
  line-height: 2em;
}

#home strong {
  color: var(--highlight-colour);
}
