:root {
  --general-padding: 15px;
  --header-vertical-padding: var(--general-padding);
  --horizontal-padding: var(--general-padding);
  --ios-bottom-furniture-padding: 140px; /*This is tuned for iPhone X only!*/

  --next-section-peek: 175px;

  --body-margin: 15vw;

  --menu-button-size: 40px;
  --header-height: var(--menu-button-size);
  --nav-height: auto;
  --footer-height: auto;
  --button-height: 30px;

  --base-font-size: 20px;

  --standard-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);

  --dark-colour: rgb(50,50,50);
  --light-colour: rgb(246,246,255);
  --header-background-colour: rgba(0,0,0,0.2);
  --navigation-background-colour: var(--light-colour);
  --button-width: 200px;
  --button-colour: var(--light-colour);
  --button-push-colour: rgb(200,200,200);
  --theme-colour: rgba(74,127,197,1);
  --highlight-colour: rgb(244, 203, 66);

  --menu-transition-time: 0.2s;

  --heading-font: 'Klinic Slab';
  --body-font: 'Nunito';
}

@font-face {
  font-family: 'Klinic Slab';
  src: url(../fonts/KlinicSlabMedium.otf);
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAnsSUYevN.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAjsOUYevN.ttf) format('truetype');
}

body {
  margin:0;
  width: 100vw;
  min-width: 320px;
  font-family: var(--body-font);
  font-size: var(--base-font-size);
  line-height: 1.5;
  color: var(--dark-colour);
  display: grid;
  background-color: var(--light-colour);
  grid-template-rows: auto var(--footer-height);
}

@media only screen and (min-width: 640px) {
  body {
    text-align: center;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0.3em;
}

a {
  color: var(--highlight-colour);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
  width: calc(100vw - calc(var(--horizontal-padding) * 2));
  height: var(--nav-height);

  background-color: var(--navigation-background-colour);

  display: grid;
  visibility: hidden;
  opacity: 0;

  padding-top: var(--header-vertical-padding);
  padding-bottom: var(--header-vertical-padding);

  grid-template-columns: auto var(--menu-button-size);
  grid-template-rows: var(--header-height) auto;
  grid-template-areas:
    "logo menu-button"
    "menu-content menu-content";
  column-gap: 15px;
  grid-row-gap: 15px;
  align-items: center;
  overflow: hidden;

  box-shadow: var(--standard-shadow);

  transition: opacity var(--menu-transition-time);
  -webkit-transition: opacity var(--menu-transition-time);
}

.logo {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 180px;
  transition: transform 0.1s;
}

.logo:hover {
  transform: scale(1.05);
}

.logo:active {
  transform: scale(0.9);
}

nav .logo {
  grid-area: logo;
}

header svg{
  fill: var(--light-colour);
}

nav {
  fill: var(--dark-colour);
  z-index: 2;
}

nav #close-menu-button {
  width: calc(var(--menu-button-size) - 10px);
  grid-area: menu-button;
  justify-content: right;
  margin: auto;
  fill: var(--dark-colour);
  transition: transform, 0.1s;
}

nav #close-menu-button:hover {
  transform: scale(1.1);
}

nav #close-menu-button:active {
  transform: scale(0.9);
}

#menu-content {
  font-size: 1.2em;
  color: var(--dark-colour);
  grid-area: menu-content;
  width: calc(100vw - calc(var(--general-padding) * 2));
  justify-items: center;

  display: grid;

  grid-template-columns: 1fr;
  column-gap: var(--general-padding);
}

@media only screen and (min-width: 640px) {
  #menu-content {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

#menu-content h2 {
  display: block;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
  margin-top: var(--general-padding);
}

#menu-content a {
  font-size: 1.3em;
  color: var(--dark-colour);
  font-style: normal;
  display: block;
}

#menu-content a:visited {
  font-size: 1.3em;
  color: var(--dark-colour);
  font-style: normal;
}

header {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - calc(var(--horizontal-padding) * 2));
  height: var(--header-height);
  background-color: var(--header-background-colour);

  padding-top: var(--header-vertical-padding);
  padding-bottom: var(--header-vertical-padding);
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);

  display: grid;
  grid-template-columns: auto var(--menu-button-size);
  column-gap: var(--general-padding);
  align-items: center;
}

header .logo {
  grid-column: 1;
}

header #open-menu {
  width: calc(var(--menu-button-size) - 10px);
  grid-column: 2;
  justify-content: right;
  margin: auto;
  transition: transform, 0.1s;
}

header #open-menu:hover {
  transform: scale(1.1);
}

header #open-menu:active {
  transform: scale(0.9);
}

main {
  grid-row: 1;
}

section {
  padding: var(--general-padding);
  padding-left: var(--body-margin);
  padding-right: var(--body-margin);

  /* These settings are only for making the sections visible! */
  background-color: var(--light-colour);
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-color: rgba(0,0,0,0.1);
  border-style: solid;
  /* end */

}

#full-page {
  height: 100vh;
}

/* Special first one with padding to pull content below the header */
/* and padding to pull action buttons up so they are not hidden by iOS furniture!*/
section:first-of-type {
  padding-top: calc(var(--header-height) + calc(var(--header-vertical-padding) * 2) + var(--general-padding));
}

section.full-bleed {
  background-size:cover;
  background-repeat: no-repeat;
  height: calc(100vh - var(--header-height) - calc(var(--header-vertical-padding) * 2) - var(--general-padding) - var(--general-padding));
  padding-bottom: var(--general-padding);
  display: grid;
  grid-template-columns: auto 600px auto;
  grid-template-rows: 100px 200px auto;
  grid-template-areas: ". . ."
  ". overlay ."
  ". . .";
  border-bottom: 0px;
  box-shadow: var(--standard-shadow);
}

@media only screen and (min-width: 640px) {
  section.full-bleed {
    padding-bottom: var(--general-padding);
    height: calc(100vh - var(--header-height) - calc(var(--header-vertical-padding) * 2) - var(--general-padding) - var(--general-padding) - var(--next-section-peek));
  }
}

@media only screen and (max-width: 640px) {
  section.full-bleed {
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
    grid-template-areas: "."
    "overlay";
  }
}

section.full-bleed .overlay {
  grid-area: overlay;

  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "caption caption"
  "button-left button-right";
  grid-column-gap: var(--general-padding);
  /* align-items: center; */
  justify-items: center;
}



.promotion {
  /* width: calc(100vw - var(--general-padding) - var(--general-padding)); */
  height: var(--next-section-peek);
  background-color: var(--highlight-colour);
  padding: var(--general-padding);
}

.promotion h1 {
  font-size: 1.5em;
}

@media only screen and (min-width: 640px) {
  .promotion {
    text-align: center;
  }
}

.caption-overlay {
grid-area: caption;
}

@media only screen and (max-width: 640px) {
  .caption-overlay {
    display: none;
  }
}

.caption-overlay h1 {
  font-size: 3.5em;
  color: white;
  text-align: center;
}

section p {
  margin-top: 0px;
  font-size: 1em;
  grid-column: 1/-1;
}

section.music_release, section.music_resource {
  height: 40vh;
}

section.service {
  height: auto;
}

@media only screen and (min-width: 640px) {
  section.service {
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1.618fr;
    grid-template-areas: "image servicecontent";
    padding-left: 0px;
    /* padding-top: 0px; */
    /* padding-bottom: 0px; */
  }

  section.service:nth-of-type(even) {
    grid-template-areas: "servicecontent image";
    grid-template-columns: 1.618fr 1fr;
    padding-left: var(--general-padding);
    padding-right: 0px;
  }

  section.service .service-info {
    padding-left: var(--general-padding);
  }

  section.service:nth-of-type(even) .service-info {
    padding-right: var(--general-padding);
  }
}

section.service img {
  height: 50vh;
  grid-area: image;
  object-fit: cover;
}

@media only screen and (max-width: 640px) {
  section.service img {
    width: calc(100vw - var(--general-padding) - var(--general-padding));
  }
}

section.service .service-info {
  grid-area: servicecontent;
}

section.day-service {
  background-color: var(--light-colour);
  color: var(--dark-colour);
}

section.evening-service {
  background-color: var(--dark-colour);
  color: var(--light-colour);
}

footer {
  color: var(--light-colour);
  grid-row: 2;
  background-color: var(--dark-colour);
  padding: var(--general-padding);
  font-size: 0.7em;
}

footer div.item {
  display: inline;
}

@media only screen and (min-width: 640px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

address {
  font-style: unset;
}

.button-overlay {
  background-color: orange;
}

.button {
  display: block;
  color: var(--dark-colour);
  background-color: var(--button-colour);
  min-width: 100px;
  padding-left: var(--general-padding);
  padding-right: var(--general-padding);
  height: var(--button-height);
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  align-content: center;
  justify-content: center;
  font-family: var(--heading-font);
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  line-height: var(--button-height);
  transition: transform 0.05s, background-color 0.05s;
  -webkit-transition: transform 0.05s, background-color 0.05s;
  box-shadow: var(--standard-shadow);
}

@media only screen and (min-width: 640px) {
  .button {
    min-width: 200px;
  }
}

.button:hover {
  transform: scale(1.05);
  text-decoration: none;
}

.button:active {
  transform: scale(0.95);
  background-color: var(--button-push-colour);
}

/* Mobile index top section button styling */

/* .index-top-section-btn {
  max-width: var(--button-width);
} */

.index-top-section-btn:nth-of-type(1) {
  grid-area: button-left;
}

.index-top-section-btn:nth-of-type(2) {
  grid-area: button-right;
}

section.person {
  display: grid;
  grid-template-columns: 1fr 1.618fr;
  grid-template-rows: auto auto;
  grid-template-areas: "title title"
  "photo bio";
  justify-items: center;
  align-items: center;
}

section.person:nth-of-type(even) {
  grid-template-areas: "title title"
  "bio photo";
  grid-template-columns: 1.618fr 1fr;
}

section.person .title {
  grid-area: title;
}

section.person img {
  grid-area: photo;
  border-radius: 50%;
  width: 300px;
  width: 300px;
}

section.person .bio {
  grid-area: bio;
}

section.people {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "title title title title"
  ". . . .";
}

/* section.people .person {
  grid-row: 2;
} */

section.people h1 {
  grid-area: title;
}

section.people img {
  grid-area: photo;
  border-radius: 50%;
  width: 200px;
  width: 200px;
}

section#sermons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: calc(var(--general-padding) * 5);
  grid-row-gap: calc(var(--general-padding) * 5);
}

.sermon {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1.618fr;
  grid-template-areas: "title title"
  "graphic details"
  "download player";
  grid-row-gap: var(--general-padding);
  grid-column-gap: var(--general-padding);
  justify-items: center;
  /* padding: var(--general-padding); */
}

.sermon-graphic {
  grid-area: graphic;
  width: 100px;
  height: 100px;
  border-color: var(--dark-colour);
  border-style: solid;
  border-width: 1px;
  background-size: contain;
  /* background-color: var(--light-colour); */
}

@media only screen and (max-width: 640px) {
  section#sermons {
    grid-template-columns: 1fr;
    grid-row-gap: var(--general-padding);
  }

  .sermon {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1.618fr;
    grid-template-areas: "title title"
    "graphic details";
  }

  .sermon-graphic {
    width: 120px;
    height: 120px;
  }

  .sermon-player {
    display: none
  }
}

.sermon-title {
  grid-area: title;
}

.sermon-player {
  grid-area: player;
}

.sermon-download {
  grid-area: download;
}

.sermon-info {
  grid-area: details;
  font-size: 0.8em;
  width: 100%;
}

h1.sermon-title {
  font-size: 1.5em;
}

@media only screen and (min-width: 640px) {
  .sermon-series::before {
    content: "Series: ";
  }

  .sermon-speaker::before {
    content: "Speaker: ";
  }

  .sermon-passage::before {
    content: "Passage: ";
  }

  .sermon-service::before {
    content: "Service: ";
  }

  .sermon-date::before {
    content: "Date: ";
  }
}

.sermon-download svg {
  fill: var(--light-colour);
  opacity: 0.2;
  transition: opacity 0.1s;
}

.sermon-download svg:hover {
  opacity: 0.6;
}

.music-release-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "title"
  ". .";
  grid-row-gap: 100px;
}

.music-release {
  display: grid;
  grid-template-columns: 1fr 1.618fr;
  grid-template-areas: "cover details";
}

.music-release:nth-of-type(even) {
  grid-template-columns: 1.618fr 1fr;
  grid-template-areas: "details cover";
}

.music-release-cover {
  grid-area: cover;
  width: 250px;
  height: 250px;
  border-color: var(--dark-colour);
  border-style: solid;
  border-width: 1px;
  justify-self: center
}

.music-release-details {
  grid-area: details;
}

.music-release-details p {
  font-size: 0.8em;
  margin-left: 0px;
  margin-right: 0px;
}