body {
  margin:0;
  width: 100vw;
}

#main {
  width: 100vw;
  display: grid;
  background-color: red;
  grid-template-rows: auto 10vh;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  background-color: yellow;
  display: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: rgba(0,0,255,0.2);
}

#content {
  grid-row: 1;
}

section {
  width: 100vw;
  height: 100vh;
  background-color: purple;
}

section:first-of-type {
  background-color: orange;
  margin-top: 10vh;
}

footer {
  grid-row: 2;
  background-color: green;
}
