---
layout: default
---
<style>
  .full-bleed {
    background-image: url("{{ page.mainImage }}");
  }
</style>
<section class="full-bleed">
</section>
<section>
  {{ content }}
</section>
  {% assign staff = site.people | where: "type", "staff" %}

  {% for staff_member in staff %}
  <section>
  <h2>{{ staff_member.name }}</h2>
  <p>{{ staff_member.role }}</p>
  <img src="assets/headshots/{{staff_member.headshot}}">
  </section>
  {% endfor %}

  <hr/>
  <h1>Trainees</h1>

  {% assign trainees = site.people | where: "type", "trainee" %}

  {% for trainee in trainees %}
  <section>
  <h2>{{ trainee.name }}</h2>
  <img src="assets/headshots/{{staff_member.headshot}}">
  </section>
  {% endfor %}

  <h1>Elders</h1>
  {% assign elders = site.people | where: "type", "elder" %}

  {% for elder in elders %}
  <section>
  <h2>{{ elder.name }}</h2>
  <img src="assets/headshots/{{staff_member.headshot}}">
</section>
  {% endfor %}

</section>
