---
layout: default
---

{% assign events = site.events | where: "status", "live" %}



<section id="home-1">

  <div id="main-container">
    <div id="content">
      {{ content }}
    </div>
  </div>

  <div class="mobile-btn-container">
    <span id="directions-button" class="mobile-btn-left" style="float: left;">Directions</span>
    <a href="#services"><span id="services-button" class="mobile-btn-right" style="float: right;">Services</span></a>
  </div>
</section>

<section id="home-2">
    <h1>
      This is awesome.
    </h1>
      <article>
    <p>This is a paragraph of text that explains why Church is so awesome.</p>
    <p>My word, it's pretty amazing how much we love the Lord Jesus. He is almight and all powerful.</p>
  </article>
  <div>
    <div class="mobile-btn" style="background-color:black;"> Learn more > </div>
  </div>
</section>

<section id="services">
    <h1>Services</h1>
</section>

{% for service in site.services %}
<section class="service service-{{service.type}}">
  <h2>{{ service.title }} - {{ service.time }}</h2>
  <p>{{ service.content }}</p>
</section>
{% endfor %}

{% for event in events %}
<section class="event-section">
  <div class="event">
    <h1>{{ event.name }}</h1>
    <p>{{ event.content }}</p>
  </div>
</section>
{% endfor %}
<script src="assets/js/maps.js"></script>
