---
layout: default
---

<div>
  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h1>Staff</h1>

  {% assign staff = site.people | where: "type", "staff" %}

  {% for staff_member in staff %}
  <h2>{{ staff_member.name }}</h2>
  <p>{{ staff_member.role }}</p>
  <img src="assets/headshots/{{staff_member.headshot}}">
  {% endfor %}

  <hr/>
  <h1>Trainees</h1>

  {% assign trainees = site.people | where: "type", "trainee" %}

  {% for trainee in trainees %}
  <h2>{{ trainee.name }}</h2>
  <img src="assets/headshots/{{staff_member.headshot}}">
  {% endfor %}

  <hr/>
  <h1>Elders</h1>
  {% assign elders = site.people | where: "type", "elder" %}

  {% for elder in elders %}
  <h2>{{ elder.name }}</h2>
  <img src="assets/headshots/{{staff_member.headshot}}">
  {% endfor %}

</div>
