---
layout: default
---
<section class="full-bleed" style="background-image: url({{ page.mainImage }});">
    <div class="overlay">
      <div class="caption-overlay">
        <h1>{{ page.overlayCaption }}</h1>
      </div>
    </div>
  </section>

<section>
  {{ content }}
</section>

{% assign staff = site.people | where: "type", "staff" | sort: "order" %}
<section>
  <h1>Leadership, Staff and Trainees</h1>
  Lorem ipsum dolor sit amet, sea ne nibh facilisi aliquando. Id his cibo ludus fastidii. Pro ad homero insolens cu.
</section>

{% for person in staff %}
<section id="{{ person.name | replace: " ", "_" }}" class="person staff">
    <div class="title">
  <h1>{{ person.name }}</h1>
  <p class="role">{{ person.role }}</p>
</div>
  <img src="assets/headshots/{{person.headshot}}">
  <a class="email" href="mailto:{{ person.email }}">Email</a>
  <div class="bio">{{ person.content }}</div>
  </section>
  {% endfor %}
  
<section id="trainees" class="people">
  <h1>Trainees</h1>
  {% assign trainees = site.people | where: "type", "trainee" %}

  {% for person in trainees %}
  <div id="{{ person.name | replace: " ", "_" }}" class="person trainee">
    <div class="title">
      <h2>{{ person.name }}</h2>
    </div>
    <img src="assets/headshots/{{person.headshot}}">
  </div>
  {% endfor %}
</section>

<section id="elders" class="people">
  <h1>Elders</h1>
  {% assign elders = site.people | where: "type", "elder" %}

  {% for person in elders %}
  <div id="{{ person.name | replace: " ", "_" }}" class="person elder">
    <div class="title">
      <h2>{{ person.name }}</h2>
    </div>
    <img src="assets/headshots/{{person.headshot}}">
  </div>
  {% endfor %}

</section>
