---
layout: default
---

{% assign events = site.events | where: "status", "live" %}

{% assign services = site.services | where: "type", "service" %}

<section class="full-bleed">
  <div class="hero" style="background-image: url({{ page.mainImage }});">
    <h1>{{ page.overlayCaption }}</h1>
  </div>
  <div class="intro">
    <div class="text">
      {{ content }}
    </div>
    <a id="find-us-button" class="button index-top-section-btn" href="#find-us">
      Find Us
    </a>
    <a id="services-button"   class="button index-top-section-btn" href="#services">
      Our Meetings
    </a>
  </div>
</section>

{%- if events.size > 0 -%}
{% assign event = events.first %}
<section class="promotion" style="background-color:{{ event.backgroundColour }}; color: {{event.textColour}};">
  <h1 >{{ event.overlayCaption }}</h1>
  <p>&gt;&gt; Find out more &lt;&lt;</p>
</section>
{%- endif -%}

{% for event in events %}
<section class="event-section">
  <div class="event">
    <h1>{{ event.name }}</h1>
    <p>{{ event.content }}</p>
  </div>
</section>
{% endfor %}

{%- include services.html -%}

<section id="midweek" class="midweek">
  <h1>Midweek</h1>
  TODO
</section>
  
{%- include find-us.html -%}


<section id="find-out-more" class="find-out-more">
    <h1>Find Out More.</h1>
    <p class="photo"> Picture of sharon etc</p>
    <div class="info">
      <p>The best way to find out more about us is to come along, but if you have any questions get in touch with Sharon our lovely administrator. <a href="mailto:info@christchurchmayfair.org?subject=Sign Me Up To the CCM Mailing List Please">info@christchurchmayfair.org</a>.</p>
    </div>
  </section>

<script src="assets/javascript/maps.js"></script>
