---
layout: default
---
<section class="full-bleed" style="background-image: url({{ page.mainImage }});">
  <div class="overlay">
    <div class="caption-overlay">
      <h1>{{ page.overlayCaption }}</h1>
    </div>
  </div>
</section>

<section>
  {{ content }}
</section>
<section>
  <iframe src="https://open.spotify.com/embed/artist/3VkKw3V7XA5QY06ufnfook" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
</section>

<a name="releases"></a>
{%- include music_releases.html -%}

<a name="music_resources"></a>
{%- include music_resources.html -%}
