---
layout: default
---
<style>
  .full-bleed {
    background-image: url("{{ page.mainImage }}");
  }
</style>
<section class="full-bleed">
  <div class="overlay">
    <div class="caption-overlay">
      <h1>{{ page.overlayCaption }}</h1>
    </div>
  </div>
</section>

<section id="intro">
  {{ content }}

  <div style="display:none" id="podcast-link">
    <a href="pcast://{{ page.podcastURL }}">Podcast Link</a>
  </div>
</section>

<section>
<h1>Talk Series</h1>
<div id="sermon-series-list">

</div>
</section>

<template id="sermon_series_template">
    <div class="sermon-series">
      <h1 class="series-heading"><span class="series-book"></span> - <span class="series-title"></span></h1>
      <div class="series-info">
        
      </div>
      <div class="series-graphic"></div>
      <div class="sermon-list"></div>
    </div>
  </template>

<section id="sermons">
</section>

<template id="sermon_template">
  <div class="sermon">
    <div class="sermon-title"></div>
    <div class="sermon-speaker"></div>
    <div class="sermon-passage"></div>
    <div class="sermon-date"></div>
    <a class="sermon-download" download>
      <svg viewbox="0 0 100 100">
        <use xlink:href="assets/images/downloadicon.svg#download-icon" />
      </svg>
    </a>
    <audio class="sermon-player" controls preload="none"> Sorry. Your browser does not support the <code>audio</code> element.</audio>
  </div>
</template>

<script src="assets/javascript/talks.js"></script>
