body {
  min-width: 320px;
}

.navbar {
  padding: 20px;
}

#navbar-logo {
  height: 50px;
}

#home-1 {
  height: 100vh;
  background-image: url(top-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#home-2 {
  height: 100vh;
}

#hamburger-mobile {
  height: 50px;
  width: 45px;
  background-image: url(hamburger.svg);
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
}

h1 {
  font-size: 10vw;
  margin: 0px;
}

#home-2 {
  padding: 5vw;
}

#home-2 article {
  width: 60vw;
  font-size: 16pt;
  line-height: 20pt;
}

.cta-btn {
  
}
